*{
    font-family: 'Radio Canada', sans-serif;
  }
  *::-webkit-scrollbar{
    width:5px;
    background: #001112;
  }
  *::-webkit-scrollbar-thumb{
    border-radius: 300px;
    background:aqua;
    
  }
  body{
    background:#001112;
  }
  .title{
    font-size:3rem;
    font-weight: 100;
    margin: 20px;
    color:aqua
  }
  .column{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    height:50vh;
  }
  .no_msg_t{
    font-weight: 100;
    font-size: 25px;
    position:absolute;
    top:10%;
    left:50%;
    color:aqua;
    transform: translate(-50%,-50%);
  }
  .message{
    position:absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #001112;
    border:2px solid aqua;
    outline:none;
    padding:10px 20px;
    border-radius: 300px;
    width: 50vw;
  }
  button{
    position:absolute;
    top:90%;
    left:74%;
    transform: translate(-50%,-50%);
    border: none;
    background: transparent;
    outline:none;
    padding:10px;
    border-radius: 300px;
    cursor:pointer
  }
  .message_holder{
    height:55vh;
    overflow: scroll;
    overflow-x: hidden;
    width:80vw;
  }
  img{
    background: transparent;
  }
  .msg_bbl{
    color:aqua;
    margin-left:10vw;
  }
  input{
    color:aqua
  }
  input::placeholder{
    color:aqua
  }

@media (max-width: 500px){
  .no_msg_t{
    font-size: 15px;
    white-space: nowrap;
  }
}